<h2>
  About
</h2>

<p>
	This is a web application that predicts student's performance in math and Portuguese class using an <a href="http://en.wikipedia.org/wiki/ID3_algorithm">ID3 algorithm</a> implemented in <a href="https://github.com/jleeothon/baobab">baobab</a>.
</p>

<p>
	The dataset is attributed to:
</p>

<p>
	P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp. 5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7. <a href="http://www3.dsi.uminho.pt/pcortez/student.pdf">Link</a>.
</p>


<p>
	And was taken in April 2015 from <a href="http://archive.ics.uci.edu/ml/datasets/Student+Performance">here</a>.
</p>

<h2>
	Get started!
</h2>

<%= link_to 'Predict your grades', {action: :select}, class: 'btn btn-primary' %>
