<!DOCTYPE html>
<html>
<head>
  <title>Student Performance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main>
  <h1>
    <a href="/">
      Student Performance
    </a>
  </h1>

  <%= yield %>
</main>

</body>
</html>
